.calculator {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
  width: 100%;
  height: 50px;
  background-color: #222;
  color: navajowhite;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  width: 70px;
  height: 50px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

button#clear {
  background-color: red;
}

button#equals {
  background-color: orange;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
